@media screen and (max-width: 1400px) {
  .figure-circle {
    right: 15px;
  }

  .figure-triangle {
    left: -25px;
  }
}

@media screen and (max-height: 900px) and (max-width: 1250px) {
  .heding-wrapper {
    margin-top: -140px;
  }

  .heder-btn {
    padding-bottom: 15px;
  }
}

@media screen and (max-height: 576px) and (max-width: 1250px) {
  .logo > picture > img {
    width: 90px;
  }

  .heding {
    margin-top: 50px;
  }

  .heding__text::before,
  .heding__text::after {
    display: none;
  }

  .slide--maxvh img {
    height: auto;
  }

  .main {
    height: -moz-max-content;
    height: max-content;
  }

  .heding-wrapper {
    height: -moz-max-content;
    height: max-content;
  }

  .fa-facebook-f,
  .fa-instagram,
  .fa-twitter {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1250px) {
  input,
  option,
  select,
  textarea {
    min-width: auto;
    width: 100%;
  }

  .container {
    width: 970px;
  }

  .top-index {
    margin-left: -485px;
  }

  .figure-circle {
    right: 15px;
  }

  .figure-circle {
    right: -115px;
  }

  .figure-triangle {
    left: -55px;
  }

  .cook {
    margin-left: 39px;
  }

  .team__contant--flex {
    -ms-flex-align: stretch;
        align-items: stretch;
  }

  .form-input {
    grid-column-gap: 10px;
  }

  .book__images-wrapp {
    width: 40%;
  }

  .figure-rhombus {
    width: 150px;
    height: 150px;
    border-width: 15px;
    right: -75px;
  }

  .book__btn {
    width: 100%;
  }

  .dish {
    width: 250px;
  }

  .galery__private-wrapper {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .galery__left-column,
  .galery__right-column {
    width: 40%;
  }
}

@media screen and (max-height: 576px) and (max-width: 992px) {
  .slide--maxvh img {
    height: auto;
    min-height: 600px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 740px;
  }

  .top-index {
    margin-left: -370px;
  }

  .heding__text {
    font-size: 72px;
    line-height: 120px;
  }

  .heding__text::before {
    display: none;
  }

  .heding__text::after {
    display: none;
  }

  .heding__lable {
    margin-bottom: -15px;
  }

  .heding-wrapper {
    margin-top: -75px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    margin-bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .main-menu {
    margin: 5px auto 0;
    line-height: 40px;
    font-size: 10px;
  }

  .logo {
    width: 100px;
    padding: 0 20px;
    box-sizing: content-box;
  }

  .fixed-menu {
    padding: 14px;
  }

  .fixed-menu-list {
    font-size: 14px;
  }

  .figure-circle {
    width: 150px;
    height: 150px;
    border-width: 10px;
    right: -70px;
  }

  .about__images-wrapp {
    height: auto;
  }

  .figure-triangle_position {
    transform: scale(0.7) !important;
    left: -125px;
    top: auto;
  }

  .team-block {
    padding-bottom: 100px;
  }

  .team__contant--flex {
    -ms-flex-align: center;
        align-items: center;
  }

  .team__picture--anim {
    height: auto;
    width: 50%;
    padding-left: 0;
    padding-bottom: 0px;
  }

  .team__picture--anim > picture > img,
  .team__picture--anim > picture,
  .team__picture--anim > picture > source {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

  .book {
    padding: 50px 0;
  }

  .book__images-wrapp {
    padding: 100px 0 20px 0;
  }

  .book__images-wrapp {
    width: 45%;
  }

  .figure-rhombus--position {
    bottom: 110px;
  }

  .team__picture {
    padding-left: 0px;
  }

  .dishes-wrapper--position > div > div.team__picture {
    display: none;
  }

  .dishes-wrapper--position > div > div.cook {
    margin-left: 0px;
    width: 100%;
    color: #fff;
  }

  .dishes-wrapper--position > div > div.cook > p {
    line-height: 24px;
    color: #fff;
  }

  .dishes-wrapper--position > div > div.cook > h2 {
    color: #fff;
  }

  .dishes-slide--positions {
    padding-bottom: 100px;
  }

  .dish {
    width: auto;
    margin: 0;
  }

  .dish:nth-child(even) > .full-description {
    left: -310px;
    right: auto;
  }

  .dish:nth-child(2n + 1) > .full-description {
    right: -310px;
    left: auto;
  }

  .tabs__body {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .galery__left-column::before,
  .galery__right-column::before {
    width: 40px;
    letter-spacing: 10px;
    font-size: 18px;
    left: -40px;
  }

  .galery__left-column::before {
    right: -40px;
  }

  .galery__left-column::after,
  .galery__right-column::after {
    width: 150px;
    height: 150px;
    border-width: 15px;
    margin-top: -75px;
    right: -75px;
  }

  .galery__left-column::after {
    left: -75px;
    right: auto;
  }
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    writing-mode: vertical-rl;
    width: -moz-max-content;
    width: max-content;
    height: 100vh;
    right: 0;
    padding: 5px;
    display: none;
  }

  .fixed-menu::before {
    top: 50%;
    margin-top: -25px;
  }

  .gamburger-menu.active {
    right: 50px;
  }

  .fixed-menu-list {
    font-size: 11px;
  }

  .container {
    width: 540px;
  }

  .top-index {
    margin-left: -270px;
  }

  .main-menu {
    display: none;
  }

  .heding-wrapper {
    margin-top: 0px;
    display: block;
  }

  .heding {
    display: block;
    margin-top: 0px;
  }

  .heding__text {
    font-size: 70px;
    line-height: 100px;
  }

  .heding__text::before {
    display: none;
  }

  .heding__text::after {
    display: none;
  }

  .heding__lable {
    font-size: 10px;
  }

  .heding__group {
    margin-top: 70px;
  }

  .swiper-pagination {
    display: none;
  }

  .heder-btn {
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 30px 10px 80px 10px;
  }

  .arrow {
    margin-right: -10px;
  }

  .social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .social__item:first-child {
    margin-top: 30px;
  }

  .heder-btn__link {
    margin-right: 0;
  }

  .about {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .about__images-wrapp {
    margin-top: 70px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    filter: none;
  }

  .about__images-wrapp > picture > img,
  .about__images-wrapp > picture,
  .about__images-wrapp > picture > source {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

  .about__desc {
    line-height: 35px;
  }

  .about__text {
    line-height: 35px;
  }

  .about__text-wrapp {
    width: 100%;
  }

  .figure-circle {
    right: -75px;
    bottom: 20%;
  }

  .about-us {
    margin: 0 0 0px 0;
    border-bottom: solid 5px #F26739;
    padding: 0 0 25px 0;
  }

  .team {
    position: relative;
    transform: translateZ(10px);
  }

  .team__contant--flex {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: static;
  }

  .team__picture--anim {
    margin-top: 70px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    filter: none;
    margin-top: 0;
    -ms-flex-order: 2;
        order: 2;
    margin-top: 70px;
  }

  .team__picture--anim > picture > img,
  .team__picture--anim > picture,
  .team__picture--anim > picture > source {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

  .team__title--anim {
    display: none;
    padding: 25px 0 44px 0;
  }

  .cook__title {
    font-family: "Andika", sans-serif;
    line-height: 48px;
    font-size: 36px;
  }

  .team__title {
    color: #000;
  }
  .cook,
  .cook__title {
      color:#fff;
  }
  .cook__title {
      padding-top:20px;
  }
  .team-block {
    transform-style: preserve-3d
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 5px #F26739;
    background-color: #fff;
  }

  .team-block::before {
    display: none;
  }

  .cook {
    width: 100%;
    margin-left: 0;
  }

  .cook__strong-text,
  .cook__light-text {
    line-height: 35px;
  }

  .figure-triangle_position {
    left: -125px;
    bottom: 155px;
    top: auto;
  }

  .book {
    padding: 25px 0;
  }

  .book-wrapper {
    display: block;
  }

  .book__form {
    width: 100%;
  }

  .book__images-wrapp {
    display: none;
  }

  .dishes__title--center {
    color: #fff;
  }

  .dishes-wrapper--position {
    padding-right: 30px;
  }

  .dishes-slide--positions {
    overflow: hidden;
  }

  .tabs__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    justify-items: center;
    width: 100%;
    grid-gap: 20px;
  }

  .restaurant-menu {
    margin-top: 25px;
  }

  .tabs__buttons-list {
    width: 100%;
    border-right: none;
  }

  .tabs__buttons-list:nth-last-child(-n + 1) {
    width: 100%;
  }

  .tabs__buttons-list:nth-child(1) {
    transform: translate(0, 0);
    transition: all 0.2s ease-in-out 0s;
  }

  .tabs__buttons-list:nth-child(2) {
    transition: all 0.3s ease-in-out 0.1s;
    transform: translate(0, 0);
  }

  .tabs__buttons-list:nth-child(3) {
    transition: all 0.3s ease-in-out 0.2s;
    transform: translate(0, 0);
  }

  .tabs__buttons-list:nth-child(4) {
    transition: all 0.3s ease-in-out 0.3s;
    transform: translate(0, 0);
  }

  .tabs__buttons-list:nth-child(5) {
    transition: all 0.3s ease-in-out 0.4s;
    transform: translate(0, 0);
  }

  .tabs__buttons-list:nth-child(6) {
    transition: all 0.3s ease-in-out 0.5s;
    transform: translate(0, 0);
  }

  .tabs__buttons-link {
    width: 100%;
    border: solid 1px #333;
    border-radius: 5px;
  }

  .tabs__buttons-link--active {
    border-color: #F26739;
  }

  .tabs__buttons-link:hover {
    border-color: #F26739;
  }

  .dish:nth-child(even) > .full-description {
    left: -160px;
    right: auto;
  }

  .dish:nth-child(2n + 1) > .full-description {
    right: -160px;
    left: auto;
  }

  .full-description {
    min-width: 285px;
  }

  .galery__left-column::after,
  .galery__right-column::after {
    display: none;
  }

  .galery__private-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    grid-gap: 70px;
  }

  .galery__left-column,
  .galery__right-column {
    width: 377px;
    height: 377px;
    border-radius: 50%;
    overflow: hidden;
    writing-mode: inherit;
  }

  .galery__left-column:before,
  .galery__right-column:before {
    right: 0;
    left: 0;
    top: 10%;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .galery__left-column > picture,
  .galery__left-column > picture > img,
  .galery__right-column > picture,
  .galery__right-column > picture > img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .galery-line {
    grid-template-columns: 35% 25% 40%;
    grid-template-rows: auto;
    padding-bottom: 50px;
  }

  .galery-line > picture > img {
    height: 170px;
  }

  .section-contact {
    padding-bottom: 50px;
  }

  .contact-form__info {
    display: grid;
    width: 100%;
    grid-template-columns: 30px 1fr;
    justify-items: baseline;
  }

  .contact-form__btn {
    width: 100%;
  }

  .contact-form__short-text {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
  }

  .map {
    position: relative;
  }

  .map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: painted;
    z-index: 9999;
  }

  .gamburger-menu {
    display: block;
  }

  .fixed-menu {
    box-shadow: none;
  }

  .fixed-menu::before {
    box-shadow: none;
  }
  .team-block::after{
      content:"";
      left:0;
      right:0
      ;top:0;
      bottom:0;
      position:absolute;
      background:rgba(0,0,0, 0.4);
    }

@media screen and (max-height: 576px) and (max-width: 767px) {
  .heding__group {
    margin-top: 30px;
  }

  .heder-btn {
    padding: 30px 10px 30px 10px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .top-index {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
  }

  .button {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .heder-btn {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 30px 10px 30px 10px;
  }

  .heding__group {
    text-align: center;
  }

  .heding__text {
    font-size: 37px;
  }

  .heding__lable {
    margin-bottom: -12px;
    font-size: 8px;
  }

  .figure-circle,
  .about__images-wrapp {
    display: none;
  }

  .about__text-wrapp {
    margin-right: 0px;
  }

  .team__picture--anim,
  .figure-triangle {
    display: none;
  }

  .form-input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .book__title {
    word-wrap: break-word;
  }

  .tabs__body {
    grid-template-columns: repeat(1, 1fr);
  }

  .dish {
    cursor: none;
    pointer-events: none;
  }

  .galery__left-column,
  .galery__right-column {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    border-radius: 0;
    writing-mode: vertical-rl;
  }

  .galery__left-column::before,
  .galery__right-column::before {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    right: 0px;
    top: 0;
    width: 40px;
    height: 100%;
    position: absolute;
    background-color: #000;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    line-height: 12px;
    font-family: "Andika", sans-serif;
    letter-spacing: 25px;
    opacity: 0.9;
    border-radius: 5px;
  }

  .galery-line {
    grid-template-columns: 30% 30% 40%;
  }

  .galery__left-column > picture,
  .galery__left-column > picture > img,
  .galery__right-column > picture,
  .galery__right-column > picture > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 374px) {
  .heding__text {
    font-size: 30px;
  }

  .heding__lable {
    margin-bottom: -12px;
    font-size: 8px;
  }

  .tabs__header {
    grid-template-columns: repeat(1, 1fr);
  }
}